<div class="jumbotron">
    <h1>Chamou?</h1>
    <p class="lead">'Chamou' é um App para smartphones Android, Windows e iOS.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Saiba mais &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>O que faz?</h2>
        <p>O App Chamou aumenta o seu conforto em estabelecimentos comerciais, 
        onde você pode chamar um funcionário para atendimento diretamente pelo App,
        sem precisar localiza-lo fisicamente.</p>
        <p><a class="btn btn-default" href="http://chamou.yanscorp.com">Saiba mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Como obter?</h2>
        <p>No momento só é possível instalar o App em smartphones Windows e Android, pois ainda não o temos na Loja.</p>
        <p><a class="btn btn-default" href="http://yanscorp.com/chamou-download">Saiba mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Construído em .NET</h2>
        <p>Desenvolvido em parceria com a YansCorp na plataforma .NET,
        a eficiência e qualidade das aplicações desenvolvidas estão garantidos.</p>
        <p><a class="btn btn-default" href="http://www.microsoft.com/net/">Saiba mais &raquo;</a></p>
    </div>
</div>
